.eventList {
  @extend .flex-me;
  flex-wrap: wrap;
  justify-content: space-around;
  
  li {
    width: 24%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 14px;

    p {
      padding: 4px;
      box-sizing: border-box;
    }
    .org-container {
      font-size: 13px;
      color: grey;
    }
    img {
      width: 100%;
      display: block;
    }
  }
}